{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <h1 class="my-4">Cart</h1>
    {% if cart.items %}
      <ul class="list-group list-group-flush">
        {% for id, product in cart.items.items %}
          <li class="list-group-item cart-item">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex">
                <!-- IMAGE -->
                <img class="me-3" src="{{ product.img }}" alt="">
                <!-- INFO -->
                <div>
                  <!-- NAME -->
                  <strong>{{ product.name }}</strong><br>
                  <!-- UNIT PRICE -->
                  <span>${{ product.price|floatformat:2 }}</span><br>
                  <!-- QUANTITY -->
                  <form action="{% url 'update_quantity' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="variant_id" value="{{ id }}">
                    <span>x</span>
                    <select name="quantity" id="{{ id }}" onchange="this.form.submit()">
                      {% with ''|center:10 as range %}
                        {% for _ in range %}
                          {% with forloop.counter as i  %}
                          {% if i == product.quantity %}
                            <option value="{{ i }}" selected>{{ i }}</option>
                          {% else %}
                            <option value="{{ i }}">{{ i }}</option>
                          {% endif %}
                          {% endwith %}
                        {% endfor %}
                      {% endwith %}
                    </select>
                    <!-- REMOVE -->
                    <a href="{% url 'remove_from_cart' variant_id=id %}" class="text-danger hover-show" title="Remove from cart">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16"><path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/><path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/></svg>
                    </a>
                  </form>
                  </span>
                </div>
              </div>
              <!-- TOTAL PRICE -->
              <div class="d-flex align-items-center">
                <span class="ms-3">${{ product.total_price|floatformat:2 }}</span>
              </div>
            </div>
          </li>
        {% endfor %}
        <!-- FREE SHIPPING -->
        <li class="list-group-item">
          <div class="d-flex justify-content-between align-items-center">
            <span>Free Shipping</span>
            <span>$0.00</span>
          </div>
        </li>
        <!-- ORDER TOTAL -->
        <li class="list-group-item">
          <div class="d-flex justify-content-between align-items-center">
            <div></div>
            <strong class="text-end">Order Total<br>${{ cart.order_total|floatformat:2 }}</strong>
          </div>
        </li>
      </ul>
      <!-- CHECKOUT BUTTON -->
      <div class="d-flex justify-content-end mt-1">
        <a id="checkout" href="{% url 'checkout' %}" class="btn btn-primary" onclick="onCheckout">Checkout</a>
      </div>
    {% else %}
      <span>Your cart is empty.</span>
      <span>Click <a href="{% url 'home' %}">here</a> to browse our products.</span>
    {% endif %}
  </div>
  <script>
    function onChange() {

    }
    function onCheckout() {
      document.getElementById('checkout').innerHTML = `<div class="loader"></div>`
    }
  </script>
{% endblock %}

<!-- 
TODO: Order now page
-->
