<nav class="navbar navbar-expand-sm navbar-light fixed-top bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">
      {% load static %}
      <img src="{% static 'images/logo.png' %}" alt="Lakeshore Labradoodles Logo" height="100" class="p-1">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'home' %}"><i class="bi bi-house"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cart' %}"><i class="bi bi-cart3"></i> Cart ({{ cart_item_count}})</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div style="height: 150px;"></div>