<!-- Requires a stripe.checkout.Session object to be passed in as context. -->
 {% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
      }
      table, th, td {
        border: 1px solid #ddd;
      }
      th, td {
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #f2f2f2;
      }
      .bold {
            font-weight: bold;
      }
      .right-align {
          text-align: right;
      }
    </style>
</head>
<body>
    <h1>Thank you for your order{% if recipient.name %}, {{ recipient.name|first_word }}{% endif %}!</h1>
    <p>Your order ID is {{ id }}.</p>
    <br>
    <p>We appreciate your business and hope you enjoy your purchase.</p>
    <p>If you have any questions, feel free to reply to this email.</p>
    <br>
    <p>Best regards,</p>
    <p>Rahna</p>
    <br>
    <hr>
    
    <!-- LINE ITEMS -->
    {% if items %}
      <h2>Order Details:</h2>
      <table>
        <thead>
          <tr>
            <th colspan="2">Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
            <tr>
              <td><img src="{{ item.files.0.thumbnail_url }}" alt="Picture of {{ item.name }}" height="30"></td>
              <td>{{ item.name }}</td>
              <td>${{ item.retail_price }}</td>
              <td>{{ item.quantity }}</td>
              <td>${{ item|total_price }}</td>
            </tr>
          {% endfor %}
          <!-- Order Total Row -->
          <tr>
            <td class="right-align bold" colspan="4">Order Total</td>
            <td class="bold">${{ retail_costs.subtotal|floatformat:2 }}</td>
          </tr>
        </tbody>
      </table>
      
    {% endif %}
    <!-- SHIPPING -->
    {% if shipping_details %}
      <h2>Shipping Address:</h2>
      <p>
        {{ recipient.name}}<br>
        {{ recipient.address1 }}<br>
        {% if recipient.address2 %}
          {{ recipient.address2 }}<br>
        {% endif %}
        {{ recipient.city }}, {{ recipient.state_code }} {{ recipient.zip }}<br>
        {{ recipient.country_name }}<br>
      </p>
    {% endif %}
    <!-- LOGO IMAGE -->
    <img src="https://shop.lakeshorelabradoodles.com/static/images/logo.png" alt="Lakeshore Labradoodles Logo" height="100">
</body>
</html>
